<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="{{ url_for('static',filename='about.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navigation">
       <div class="nav">
           <ul>
           
            <li><a href="about"> About </a></li>
            <li><a href="cancer"> Cancer</a></li>
            <li><h1><a href="."> ZAS</a></h1></li>
            <li><a href="heart"> Heart</a></li> 
            <li><a href="kidney"> Kidney</a></li>                  
            <li><a href="Diabaties"> Diabaties</a></li>   

           </ul>
       </div>
    </div>
    <div class="details">
        <h2>Details :</h2>
        <h3>This is a basic machine learning and  deep learning based medical app.</h3>
<p>The prediction about the disease is made with the help of the machine learning model which itself is trained on the thousands of the datasets

So with the following paragraph I gonna be describing about the types of the diseases which gonna be getting employed in this app.</p>
    </div> 
</body>
</html>