<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z A S</title>
</head>
<body>
    <style>
        body{
            background-image: linear-gradient(rgba(0,0,0,0.4) ,rgba(0,0,0,0.4)), url(/static/images/HHS\ unveils\ new\ cybersecurity\ ideas\ for\ healthcare\ industry\ _\ Federal\ News\ Network.jpg);
            background-size: cover;
        }
    </style>
    <div class="navigation">
       
       <div class="nav">
           <ul>
            <li><a href="about"> About </a></li>
            <li><a href="cancer"> Cancer</a></li>
            <li><h1><a href="."> ZAS</a></h1></li>
            <li><a href="heart"> Heart</a></li> 
            <li><a href="kidney"> Kidney</a></li>                  
            <li><a href="Diabaties"> Diabaties</a></li>       

           </ul>
       </div>
    </div>
    <div class="pa">
        <h3>Health Care</h3>
        <p>The art of medicine consists of amusing the patient while nature cures the disease.</p>
        <p>Let us be the ones who say we do not accept that a child dies every three seconds simply because he does not have the drugs you and I have. Let us be the ones to say we are not satisfied that your place of birth determines your right for life. Let us be outraged, let us be loud, let us be bold</p>
    </div>
  
        <img src="/static/img/towfiqu-barbhuiya-msQB97gUxY0-unsplash.jpg" height="600pc" width="600pc">

</body>
</html>