<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='nav.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
            background-image: linear-gradient(rgba(0,0,0,0.4) ,rgba(0,0,0,0.4)), url(/static/images/julien-tromeur-ZMK0DU5wARA-unsplash.jpg);
            background-size: cover;
        }
    </style>
    <div class="navigation">
        
       <div class="nav">
           <ul>
            <li><a href="about"> About </a></li>
            <li><a href="cancer"> Cancer</a></li>
            <li><h1><a href="."> ZAS</a></h1></li>
            <li><a href="heart"> Heart</a></li> 
            <li><a href="kidney"> Kidney</a></li>                  
            <li><a href="Diabaties"> Diabaties</a></li>        

           </ul>
       </div>
    </div>
    <div class="pa">
        <form action="/result" method="POST">
          <label for="age">Age : </label>
          <input type="text" id="age" name="age">
          <br>
      
          <label for="bp">B.P : </label>
          <input type="text" id="bp" name="bp">
          <br>
      
          <label for="al">A.L : </label>
          <input type="text" id="al" name="al">
          <br>
      
          <label for="pcc">P.C.C : </label>
          <input type="text" id="pcc" name="pcc">
          <br>
      
          <label for="bgr">B.G.R: </label>
          <input type="text" id="bgr" name="bgr">
          <br>
      
          <label for="bu">B.U : </label>
          <input type="text" id="bu" name="bu">
          <br>
      
          <label for="sc">S.C : </label>
          <input type="text" id="sc" name="sc">
          <br>
      
      
          <label for="hemo">HEMO : </label>
          <input type="text" id="hemo" name="hemo">
          <br>
      
          <label for="pcv">PCV : </label>
          <input type="text" id="pcv" name="pcv">
          <br>
      
          <label for="htn">HTN: </label>
          <input type="text" id="htn" name="htn">
          <br>
      
          <label for="dm">D.M : </label>
          <input type="text" id="dm" name="dm">
          <br>
      
          <label for="appet">Appet: </label>
          <input type="text" id="appet" name="appet">
          <br>
          <br>
        
            <input type="submit" value="Submit"><br><br>
        </form>
    </div>
</body>
</html>