*{
    margin: 0;
    padding: 0;
}
.navigation{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 1pc;
    background-color: rgb(50, 51, 53);
}

.nav li{
    display: inline-block;
    font-size: 1.5pc;
    margin-left: 1pc;
}
.navigation a{
    color: rgb(253, 249, 249);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav li a:hover{
    color: rgb(10, 10, 10);
}
.details{
    position: relative;
    margin-left: 10pc;
    margin-right: 10pc;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    font-weight: 100;
    
}
.details h2{
    color: black;
    font-size: 3pc;
}
.details h3{
    color: black;
    font-size: 2pc;
}
.details p{
    color: black;
    font-size: 1.5pc;
}


